body {
  margin:0;
  padding:0;
  font-family: "Poppins", sans-serif;
}

section {
  margin: 0 20px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

header div {
  margin-left: auto;
  font-size: 20px;
}

header ul li {
  display: inline-block;
  margin: 0 20px;
}

button {

}
