body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

section {
  margin: 0 100px;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}

header div {
  margin-left: auto;
  font-size: 20px;
}

header ul li {
  margin: 0 20px;
  display: inline-block;
}

#main {
  margin: 0 120px;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#main .main-text {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.5;
}

span {
  border-bottom: 2px solid #3ff1aa;
}

.button-style {
border: none;
background: #3ff1aa;
color: #ffffff !important;
font-weight: 100;
padding: 15px;
text-transform: uppercase;
border-radius: 30px;
display: inline-block;
transition: all 0.3s ease 0s;
}

.button-style:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}
